<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="{{url_for('static', filename='roster.css')}}`">
    <link rel="stylesheet" href="{{url_for('static', filename='stats.css')}}`">
</head>
<body>
    <div class="container">
        <h1>📈Class Statistics - Advanced Programming</h1>
        {# Summary Statistics using filters #}
        
    </div>
</body>
</html>