{% extends "base.html" %}

{% block title %}{{student.First}} {{student.Last}}{% endblock title %}

{% block content %}
<h1>🧑‍🎓Student Profile</h1>
<div class="stat-card">
    <h2>{{student.First}}|title {{student.Last|title}}</h2>
    <div style="margin: 20px 0">
        <p><strong>✉️Email:</strong>{{student.Email|lower}}</p>
        <p><strong>🎂Birthday:</strong>{{student.Birthday}}</p>
        <p><strong>🎓Grade:</strong>{{student.Grade}}
        {% if student.Grade == "12" %}(Senior)
        {% elif student.Grade == "11" %}(Junior)
        {% elif student.Grade == "10" %}(Sophomore)
        {% elif student.Grade == "9" %}(Freshman)
        {% endif %}
        </p>
        <p><strong>Gender:</strong>
            <span class="{% if student.Gender == 'M'}male{% else %}female{% endif %}">
                {{student.Gender}}
            </span>
        <p><strong>Course:</strong>{{student.Course}}</p>
        </p>
    <div class="back-link" style="text-align:center; margin-top: 30px;">
        <a href="/roster">Back to Roster</a>
    </div>
    </div>

</div>

{% endblock content %}
<h1></h1>